[submodule "contrib/Catch"]
	path = contrib/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "contrib/json"]
	path = contrib/json
	url = https://github.com/nlohmann/json.git
[submodule "contrib/spdlog"]
	path = contrib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "contrib/network_buffer"]
	path = contrib/network_buffer
	url = https://github.com/elelel/network_buffer.git
[submodule "contrib/asio"]
	path = contrib/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "contrib/lzma_lite_lib"]
	path = contrib/lzma_lite_lib
	url = https://github.com/elelel/lzma_lite_lib.git
[submodule "contrib/concurrentqueue"]
	path = contrib/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
